Quick3D/Documentation/Quick3DScene.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Scene" type="SceneType"/>
  <xs:simpleType name="ValueTypeEnum" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Constant"/>
      <xs:enumeration value="Add"/>
      <xs:enumeration value="Sub"/>
      <xs:enumeration value="Mul"/>
      <xs:enumeration value="Div"/>
      <xs:enumeration value="Pow"/>
      <xs:enumeration value="Perlin"/>
      <xs:enumeration value="Turbulence"/>
      <xs:enumeration value="Erosion"/>
      <xs:enumeration value="Voronoi"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MaterialTypeEnum" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bing"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HeightTypeEnum" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="srtm"/>
      <xs:enumeration value="hgt"/>
      <xs:enumeration value="bil"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SceneType">
    <xs:sequence>
      <xs:element type="NamedType" name="Camera1" maxOccurs="1" minOccurs="0"/>
      <xs:element type="NamedType" name="Camera2" maxOccurs="1" minOccurs="0"/>
      <xs:element type="NamedType" name="Camera3" maxOccurs="1" minOccurs="0"/>
      <xs:element type="NamedType" name="Camera4" maxOccurs="1" minOccurs="0"/>
      <xs:element type="NamedType" name="ControlledComponent" maxOccurs="1" minOccurs="0"/>
      <xs:element type="ComponentListType" name="Components" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentListType">
    <xs:sequence>
      <xs:element type="ComponentType" name="Component" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComponentType">
    <xs:sequence>
      <xs:element type="ParametersType" name="Parameters" maxOccurs="1" minOccurs="0"/>
      <xs:element type="GeolocType" name="Geoloc" maxOccurs="1" minOccurs="0"/>
      <xs:element type="Vector3DType" name="Position" maxOccurs="1" minOccurs="0"/>
      <xs:element type="Vector3DType" name="Rotation" maxOccurs="1" minOccurs="0"/>
      <xs:element type="Vector3DType" name="RotationFactor" maxOccurs="1" minOccurs="0"/>
      <xs:element type="Vector3DType" name="AileronPosition" maxOccurs="1" minOccurs="0"/>
      <xs:element type="Vector3DType" name="CenterOfMass" maxOccurs="1" minOccurs="0"/>
      <xs:element type="PhysicsType" name="Physics" maxOccurs="1" minOccurs="0"/>
      <xs:element type="ControllerType" name="Controller" maxOccurs="1" minOccurs="0"/>
      <xs:element type="IRType" name="IR" maxOccurs="1" minOccurs="0"/>
      <xs:element type="DynamicTextureType" name="DynamicTexture" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ThrustType" name="Thrust" maxOccurs="1" minOccurs="0"/>
      <xs:element type="NamedType" name="Mesh" maxOccurs="1" minOccurs="0"/>
      <xs:element type="NamedType" name="PowerInput" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="NamedType" name="DataInput" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ComponentGeneralType" name="General" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="required">
          <xs:annotation>
            <xs:documentation>
              User defined string used to identify the component.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" name="Class" use="required">
          <xs:annotation>
            <xs:documentation>
              Class name as it appears in code.
            </xs:documentation>
          </xs:annotation>
		</xs:attribute>
        <xs:attribute type="xs:string" name="PositionTarget" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by animation component: defines the target object for translations.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" name="RotationTarget" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by animation component: defines the target object for rotations.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:bool" name="Playing" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by animation component: defines play state of the animation.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ComponentGeneralType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:float" name="Distance" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by lights: defines maximum distance of light.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:bool" name="CastShadows" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by lights: tells whether the light casts shadows.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:bool" name="Closed" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by electrical component: defines closure of the contactor.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element type="GeneralType" name="General" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Defines the general parameters for the terrain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="MaterialType" name="Material" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Defines the material for the terrain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="HeightType" name="Height" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Defines the height field for the terrain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="VegetationType" name="Vegetation" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Defines the vegetation for the terrain.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneralType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:int" name="Levels" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by terrain component: defines the depth of the LOD. Defaults to 15 and ranges from 2 to 20.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:int" name="Resolution" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by terrain component: defines the number of vertices for each terrain patch. Defaults to 31 and ranges from 3 to 81.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MaterialType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="MaterialTypeEnum" name="Type" use="required">
          <xs:annotation>
            <xs:documentation>
              Used by terrain component: defines the type of the material. If not present, material used is standard planet material with multi-texturing.
              The bing type will fetch terrain texture tiles from bing server.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="HeightType">
    <xs:sequence>
      <xs:element type="ValueType" name="Value" maxOccurs="1" minOccurs="1">
        <xs:annotation>
          <xs:documentation>
            When there is no type defined for terrain, it defaults to generated height field and uses this function (or constant) to generate height.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="HeightTypeEnum" name="Type" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the type of height field to use. If not present, the terrain will be generated from functions. See the Value element.
              srtm: Loads SRTM files as needed from the specified path.
              hgt: Loads HGT files as needed from the specified path.
              bil: Loads BIL files as needed from the specified path.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" name="Path" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the path where terrain files can be found.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ValueType">
    <xs:sequence>
      <xs:element type="OperandType" name="Operand" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="ValueTypeEnum" name="Type" use="required">
          <xs:annotation>
            <xs:documentation>
              Defines the type of function to use. Refer to ValueTypeEnum.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="Value" use="optional">
          <xs:annotation>
            <xs:documentation>
              In case Type is set to Constant, defines the constant value.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="InputScale" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the scale for the position before it is sent to the function. It defaults to 1.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="OutputScale" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the scale for the value that is returned by the function. It defaults to 1.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="MinClamp" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the minimum for the value that is returned by the function, before it is scaled by OutputScale. It defaults to -1.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="MaxClamp" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the maximum for the value that is returned by the function, before it is scaled by OutputScale. It defaults to 1.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="Displace" use="optional">
          <xs:annotation>
            <xs:documentation>
              Used by Erosion: defines a displacement factor for the position that is sent to the Erosion function. It defaults to 0.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:int" name="Iterations" use="optional">
          <xs:annotation>
            <xs:documentation>
              Defines the number of times that the function will be called, summing each output of the function. It defaults to 1.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="InputScaleFactor" use="optional">
          <xs:annotation>
            <xs:documentation>
              When iteration is more than 1, the InputScale is multiplied by this factor after each iteration. It defaults to 10.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:float" name="OutputScaleFactor" use="optional">
          <xs:annotation>
            <xs:documentation>
              When iteration is more than 1, the InputScale is multiplied by this factor after each iteration. It defaults to 0.25.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OperandType">
    <xs:sequence>
      <xs:element type="ValueType" name="Value" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VegetationType">
    <xs:sequence>
      <xs:element type="TreeType" name="Tree" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TreeType">
    <xs:sequence>
      <xs:element type="DNAType" name="DNA" maxOccurs="1" minOccurs="1"/>
      <xs:element type="CoverageType" name="Coverage" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DNAType">
    <xs:sequence>
      <xs:element type="LeafType" name="Leaf" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:int" name="Levels" use="required"/>
        <xs:attribute type="xs:float" name="TrunkLength" use="optional"/>
        <xs:attribute type="xs:float" name="TrunkRadius" use="optional"/>
        <xs:attribute type="xs:float" name="BranchLengthScale" use="optional"/>
        <xs:attribute type="xs:float" name="BranchRadiusScale" use="optional"/>
        <xs:attribute type="xs:float" name="LeafScale" use="optional"/>
        <xs:attribute type="xs:float" name="GravityFactor" use="optional"/>
        <xs:attribute type="xs:float" name="Spread" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LeafType">
    <xs:sequence>
      <xs:element type="FFDType" name="FFD" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FFDType">
    <xs:sequence>
      <xs:element type="PointType" name="Point" maxOccurs="7" minOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CoverageType">
    <xs:sequence>
      <xs:element type="ValueType" name="Value" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeolocType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:float" name="Latitude" use="required"/>
        <xs:attribute type="xs:float" name="Longitude" use="required"/>
        <xs:attribute type="xs:float" name="Altitude" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Vector3DType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:float" name="x" use="required"/>
        <xs:attribute type="xs:float" name="y" use="required"/>
        <xs:attribute type="xs:float" name="z" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PhysicsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:bool" name="PhysicsActive" use="optional"/>
        <xs:attribute type="xs:float" name="MassKG" use="optional"/>
        <xs:attribute type="xs:float" name="SpeedMS" use="optional"/>
        <xs:attribute type="xs:float" name="TurnSpeedDS" use="optional"/>
        <xs:attribute type="xs:float" name="Drag" use="optional"/>
        <xs:attribute type="xs:float" name="Friction" use="optional"/>
        <xs:attribute type="xs:float" name="StickToNOLL" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControllerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Class" use="required"/>
        <xs:attribute type="xs:float" name="ForceFactor" use="optional"/>
        <xs:attribute type="xs:string" name="PositionTarget" use="optional"/>
        <xs:attribute type="xs:string" name="RotationTarget" use="optional"/>
        <xs:attribute type="xs:string" name="TurretYawTarget" use="optional"/>
        <xs:attribute type="xs:string" name="TurretPitchTarget" use="optional"/>
        <xs:attribute type="xs:string" name="LeftWingTarget" use="optional"/>
        <xs:attribute type="xs:string" name="RightWingTarget" use="optional"/>
        <xs:attribute type="xs:string" name="ElevatorTarget" use="optional"/>
        <xs:attribute type="xs:string" name="RudderTarget" use="optional"/>
        <xs:attribute type="xs:string" name="Engine1Target" use="optional"/>
        <xs:attribute type="xs:string" name="Engine2Target" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IRType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:float" name="Factor" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DynamicTextureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="required"/>
        <xs:attribute type="xs:string" name="Updater" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ThrustType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:float" name="MaxThrustKG" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NamedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="required">
          <xs:annotation>
            <xs:documentation>
              Name of a component.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
